coverage==4.4.2
cryptography==2.2.2
cssselect==1.0.3
deepmerge==0.0.4
dominate==2.3.1
flasgger==0.8.1
Flask
Flask-Bootstrap==3.3.7.0
Flask-Cors
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.6.2
psycopg2==2.7.3.2
GeoAlchemy2==0.4.2
geojson==2.3.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
lml==0.0.1
lxml==4.2.1
MarkupSafe==1.0
mistune==0.8.3
NicePrinter==1.0.3
numpy==1.14.5
parsel==1.4.0
psycopg2==2.7.3.2
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyexcel==0.5.8
pyexcel-io==0.5.7
pyOpenSSL==18.0.0
pyshp==1.2.12
PyYAML==3.13
queuelib==1.5.0
requests==2.18.4
Scrapy==2.6.1
service-identity==17.0.0
Shapely==1.6.4
six==1.11.0
SQLAlchemy==1.2.7
texttable==1.2.1
tqdm==4.23.1
Twisted==18.4.0
urllib3==1.22
visitor==0.1.3
w3lib==1.19.0
Werkzeug==0.14.1
xlrd==1.1.0
zope.interface==4.5.0
voluptuous==0.11.1
unyt==1.0.4
wikipedia-api==0.3.7
fuzzywuzzy==0.16.0
python-Levenshtein==0.12.0
git+git://github.com/MichaelsJP/stringcmp.git#egg=stringcmp
geopy==1.14.0
nltk==3.3
pyproj==1.9.5.1
django-scheduler==0.8.8
tflearn==0.3.2
h5py==2.8.0
Scipy==1.1.0
gunicorn==19.7.1
tensorflow==1.12.0
gevent==1.3.5
sty==1.0.0b6
scipy==1.1.0